# Ignore model weight binary files ONLY (keep folders & json split manifests)
*.pth
*.pt
*.bin
*.h5

# Python cache & environment
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.env

# Raw Datasets & Zip Archives (Ignored to prevent large file uploads)
COD10K-v3/
Kvasir-SEG/
Kvasir-SEG-aug/
*.zip

# Preserve gitkeep files to maintain empty folder structures in Git
!**/.gitkeep
